*{
    margin:0;
    paddin:0;
}

header{
    width:100%;
    height:100px;
    background-color:#607D8B;
    color:aliceblue;
    text-align: center;
    padding-top:18px;

}

    .menu{
        width:100%;
        height:80px;
        background-color:#748D9A;
        color:white;
    }

        section ul li{
            display:inline-flex;
            padding:25px;
        }

            section ul{
                text-align: center;
            }

            .mainsection{
                display:flex;
            }
.mainsection{
    dispaly:flex;
}
.partone{
    height:250px;
    width:70%;
    background-color:#8399A4;
    color:white;
    text-align: center;
}

    .sectionpart{
        width:100%;
        height:50%;
        background-color:#607D8B;
        color:white;
        padding-top:9px;
    }
    .articlepart{
        width:100%;
        height:50%;
        background-color:#768F9B;
        color:white;
        padding-top:9px;
    }

.parttwo{
    height:250px;
    width:30%;
    background-color:#8399A4;
    color:white;
    padding-top:18px;
    text-align: center;
}

.summary{
    width:100%;
    height:60px;
    background-color:#42545c;
    color:white;
    text-align:left;
    padding-top:15px;
}
footer{
    width:100%;
    height:80px;
    background-color:#607D8B;
    color:white;
    text-align: center;
    padding-top:20px;
}